.card {
  width: 100%;
  border: 1px solid var(--color-gray300);
  background-color: var(--color-base-white);
  border-radius: 10px;
  padding: 8px 16px;

  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 16px;
  align-items: center;

  &:hover {
    background-color: var(--color-gray100);
  }
}
